<div *ngIf="recipe != null">
  <div class="row">
    <div class="col-xs-12">
      <img src="" alt="" class="img-responsive" />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="btn-group col-xs-12" dropdownDirective>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer" (click)="addToShoppingList()"
            >Add to Shopping List</a
          >
        </li>
        <li>
          <a
            style="cursor: pointer"
            routerLink="/recipes/{{ recipe.name }}/edit"
            >Edit Recipe</a
          >
        </li>
        <li>
          <a style="cursor: pointer" (click)="removeRecipe()">Remove Recipe</a>
        </li>
      </ul>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-8">{{ recipe.description }}</div>
    <div class="col-xs-4">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-responsive"
        style="max-height: 150px"
      />
    </div>
  </div>
  <hr />
  <div class="row col-xs-12">Ingredients</div>
  <br />
  <ingredients class="row" [ingredients]="recipe.ingredients"></ingredients>
  <br />
  <br />
  <br />
</div>
