<div>
  <ul *ngIf="ingredients.length != 0" class="list-group">
    <div *ngFor="let ingredient of ingredients; let i = index">
      <a
        style="cursor: pointer"
        class="list-group-item col-xs-11"
        (click)="onEditIngredient(i)"
      >
        <div class="row">
          <div class="col-xs-11">{{ ingredient.name }}</div>
          <div class="col-xs-1" style="font-weight: bold">
            {{ ingredient.amount }}
          </div>
        </div></a
      >
      <div class="col-xs-1" *ngIf="!isOnRecipe">
        <mat-icon
          (click)="removeIngredient(ingredient)"
          style="color: red; cursor: pointer"
          >clear</mat-icon
        >
      </div>
    </div>
  </ul>
  <p *ngIf="ingredients.length == 0">You have no ingredients saved!</p>
</div>
